[program:sensor_pub-{{ item.value.pin }}]
command={{ webapps_dir }}/sensor_pub.py
    -e {{ aws_iot_endpoint }}
    -r {{ creds_location }}/rootCA.pem
    -c {{ creds_location }}/certificate.pem
    -k {{ creds_location }}/private.pem
    -t {{ item.value.topic }}
    -p {{ item.value.pin }}
    -s {{ item.value.name }}
{% if item.value.high_value is defined %}
    -y {{ item.value.high_value }}
{% endif %}
{% if item.value.low_value is defined %}
    -z {{ item.value.low_value }}
{% endif %}
directory={{ webapps_dir }}
autostart=true
autorestart=true
stdout_logfile={{ log_file }}
stderr_logfile={{ log_file }}
redirect_stderr=true
exitcodes=0