[program:autossh-{{ item.value.name }}]
command=autossh -M 0 -T -N tunnel-{{ item.value.name }}
user={{ local_tunnel_user }}
numprocs=1
autostart=true
autorestart=true
startsecs=0
startretries=9999999
