[program:sensor-monitor]
command={{ webapps_dir }}/sensor-monitor.py -e {{ aws_iot_endpoint }} -i {{ sensor_pin }} -w {{ sensor_monitor_sleep }} -o sensors/{{ name }} -t $aws/things/{{ inventory_hostname }}/shadow/update -y {{ high_value }} -z {{ low_value }} -s {{ name }}
directory={{ webapps_dir }}
autostart=true
autorestart=true
stdout_logfile=/var/log/iot.log
stderr_logfile=/var/log/iot.log
redirect_stderr=true
exitcodes=0