[program:vstream_sub]
command={{ webapps_dir }}/vstream_sub.py
    -e {{ aws_iot_endpoint }}
    -r {{ creds_location }}/rootCA.pem
    -c {{ creds_location }}/certificate.pem
    -k {{ creds_location }}/private.pem
    -t {{ item.value.snapshot_topic }}
    -z {{ item.value.camera_rotate }}

directory={{ webapps_dir }}
autostart=true
autorestart=true
stdout_logfile={{ log_file }}
stderr_logfile={{ log_file }}
redirect_stderr=true
exitcodes=0
