#!/bin/bash

cd {{ webapps_dir }}
if [ -f "{{ webapps_dir }}/pi_monitor.py" ]; then
  ./pi_monitor.py -e {{ aws_iot_endpoint }} -o "sensors/{{ inventory_hostname }}" -t "\$aws/things/{{ inventory_hostname }}/shadow/update" -r {{ webapps_dir }}/rootCA.pem -c {{ webapps_dir }}/certificate.pem -k {{ webapps_dir }}/private.pem
fi
