#!/bin/bash

if [ $# -ne 1 ]; then
    echo $0: usage: pi_monitor party
    exit 1
fi

party=$1

cd {{ webapps_dir }}
if [ -f "{{ webapps_dir }}/monitor.py" ]; then
  ./monitor.py -p $party -e {{ aws_iot_endpoint }} -r {{ creds_location }}/rootCA.pem -c {{ creds_location }}/certificate.pem -k {{ creds_location }}/private.pem
fi
