#!/bin/bash

cd /home/pi/IoT
if [ -f "/home/pi/IoT/pi-monitor.py" ]; then
  ./pi-monitor.py -e {{ aws_iot_endpoint }} -o "sensors/{{ inventory_hostname }}" -t "\$aws/things/{{ inventory_hostname }}/shadow/update"
fi
