$aws/things/pi7/shadow/update/accepted:
  state/reported/backDoor: 1
  state/reported/frontDoor: 1
  state/reported/kitchenDoor: 1
$aws/things/{{ inventory_hostname }}/shadow/update/accepted:
  state/desired/buzzer: null